.container-navbar{
    width: 100%;
    position: fixed;
    background-color: white;
    bottom: 0;
    height: 85px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
    p{
        font-size: 12px;
        margin-bottom: 0;
        font-family: 'DM Sans';
        padding-top: 10px;
    }

    // #homebtn{
    //     padding-top: 18px;
    //     cursor: pointer;
    // }
    
    // .active{
    //     .text{
    //         color: #017EFA;
    //     }
    // }

    // #aktivitasbtn{
    //     padding-top: 18px;
    //     cursor: pointer;
    // }

    // .active{
    //     .text{
    //         color: #017EFA;
    //     }
    // }

    .nav-btn{
        padding-top: 18px;
        cursor: pointer;
    }

    .nav-btn.active{
        padding-top: 18px;
        cursor: pointer;
        .text{
            color: #017EFA;
        }
    }
}