.container-header-manajemen{
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 40px;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #DADADA;
  .head-title{
    .title{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .profile-container{
    display: flex;
    align-items: center;
    p{
      font-size: 16px;
      font-weight: 600;
      margin-right: 22px;
    }
  }
}