.product-list-container {
  box-sizing: border-box;
  padding: 24px 0px;
  margin: 16px 32px 0px 32px;
  box-shadow: 0px 5px 10px #F1F2FA;
  background: red;
  border-radius: 8px;
  max-width: 1376px;

  .product-list-header {
    background: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid #CCCCCC;;

    .input-group {
      display: flex;
      align-items: center;
      padding:0px 16px;
      border-radius: 8px;
      background: #F5F5F5;
      height: 52px;
      .input-search {
        font-size: 16px;
        font-weight: 400;
        margin-right: 10px;
        border: none;
        background: #F5F5F5;
        ::placeholder {
          font-size: 16px;
          color: #7E8287;
        }
        &:focus {
          outline: none;
        }
      }
    }

    .filter-and-buttons-wrapper {
      display: flex;
      align-items: center;
      .filter-wrapper {
        display: flex;
        align-items: center;
        margin-right: 24px;
        .product-select__control, .product-select-lc__control {
          min-width: 244px;
          height: 52px;
          background: #F5F5F5;
          border: none;
          border-radius: 8px;
          margin-right: 24px;
    
          .product-select__indicators, .product-select-lc__indicators {
            .product-select__indicator-separator, .product-select-lc__indicator-separator {
              display: none;
            }
          }
        }
        .product-select-lc__control {
          margin-right: 0px;
        }
      }
      .button-wrapper {
        display: flex;
        align-items: center;
        .button-primary {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 52px;
          border: none;
          border-radius: 6px;
          background: #017EFA;
          .button-icon {
            margin-right: 6px;
          }
          .button-text {
            font-size: 14px;
            font-weight: 700;
            color: #FFF;
          }
        }
        .button-scan {
          min-width: 153px;
          margin-right: 11px;
        }
        .button-add {
          min-width: 102px;
        }
      }

    }

  }

  .product-list-table {
    background: #FFF;
    .table-header {
      display: flex;
      padding: 26px;

      .header-checkbox {
        margin-right: 25px;
      }

      .header-name {
        margin-right: 330px;
      }

      .header-size {
        margin-right: 325px;
      }
    }
    .table-body {
      display: flex;
      align-items: center;
      padding: 26px;
      .product-checkbox {
        margin-right: 25px;
      }
       .product-title-wrapper {
        display: flex;
        align-items: center;
        width: 330px;
        margin-right: 100px;
        .img-wrapper {
          width: 70px;
          height: 70px;
          border-radius: 8px;
          background: #C4C4C4;
          margin-right: 24px;
        }
        .text-wrapper {
          .product-title {
            font-size: 18px;
            font-weight: 700;
            color: #31353B;
            margin-bottom: 11px;
          }
          .product-sub-title {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            color: #7E8287;
            .blue-dot {
              height: 5px;
              width: 5px;
              background: #017EFA;
              margin: 0px 10px;
              border-radius: 50%;
            }
          }
        }
      }
      .product-size {
        font-size: 18px;
        font-weight: 400;
        color: #738287;
      }
    }
  }

}